  html {
    background-color: #fff;
  }
  body {
    background-color: #fff;
  }
  .jumbotron {
    background-color: #fff !important;
  }

  #para {
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 200;
    max-width: 54%;
    margin: auto;
    text-align: justify;
  }

  #box_btn {
    margin: 30px auto;
    max-width: 54%;
  }

  #new_button {
    float: left;
    padding: 4px 21px;
    border: 2px solid #484747 !important;
    background-color: #eee;
  }

  #new_button:hover {
    background-color: #3d923f;
  }

  #delete {
    color: #000;
    border: 2px solid #484747 !important;
    background-color: #eee;
  }
  #delete:hover {
    background-color: #fff;
  }

  #header {
    color: #000;
    max-width: 54%;
    text-align: left;
    margin: auto;
    font-size: 37px;
    padding: 20px 0px;
  }

  #form {
    background-color: #fff;
    border-color: black;
    width: 40%;
    min-height: 40%;
    margin: 10% auto;
    padding: 30px;
  }
  #errmsg {
    color: red;
    font-size: 16px;
  }
  #okmsg {
    color: green;
    font-size: 16px;
  }

  #form_btn {
    margin: 0px 10px;
    padding: 4px 21px;
    border: 2px solid #484747 !important;
  }

  #form_btn:hover {
    background-color: #3d923f;
  }

  .form_buttons {
    float:right;
    padding: 10px 0px;
  }
  .addmsg {
    padding: 20px;
  }

  .table {
    max-width: 54% !important;
    margin: auto !important;
  }

  .table thead {
    background-color: #a4a4a4;
  }

  .table tr {
    text-align: left;
  }
  .table tr>td {
    vertical-align: middle !important;
  }

  .table-bordered th, td {
    border: 1px solid #484747 !important;
  }

  .insert_form {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
  }

  .insert_form:target {
    display: block;
    pointer-events: auto;
  }

  .insert_form>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
  }


  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
